Source: assword
Section: python
Priority: optional
Maintainer: Jameson Rollins <jrollins@finestructure.net>
Uploaders: Daniel Kahn Gillmor <dkg@fifthhorseman.net>
Build-Depends:
 pkg-config,
 python,
 python-setuptools,
 help2man,
 python-gpgme,
 python-tk,
 debhelper (>= 9)
Standards-Version: 3.9.3

Package: assword
Architecture: all
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 ${python:Depends},
 python-gpgme,
 python-tk
Recommends:
 python-xdo
Description: Simple and secure password database and retrieval system.
 Passwords and context strings are stored in a single OpenPGP
 encrypted and signed file.  The contexts can be searched.  Passwords
 are securely retrieved without displaying on the screen.  Multiple
 retrieval methods are available, including inserting retrieved
 password into the X clipboard, or typing them directly into an X
 window.
